<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 10</title>
    <link rel="stylesheet" href="/access_location.css">
</head>
<body>

<div class="location-access">
    <img src=https://png.pngtree.com/png-vector/20230413/ourmid/pngtree-3d-location-icon-clipart-in-transparent-background-vector-png-image_6704161.png alt="Location Icon" width="100px" height="100px" >
    <p>Allow us to access your location</p>
    <a href="location.html" target="_blank"><button>Approve</button></a>
    </div>

</body>
</html>
