<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Page 15.css">
    <title>Page 15</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <span>SMART PHARMACY</span>
            <input type="text" placeholder="Search...">
            <div class="menu-icon">☰</div>
            <i class="fa fa-shopping-cart"></i>
            <i class="fa fa-bars"></i>
        </div>
        <div class="order">
            <h2>Your Order</h2>
            <table>
                <tr>
                    <th>Product</th>
                    <th>Total</th>
                </tr>
                <tr>
                    <td>Fucidin Cream</td>
                    <td>$55.00</td>
                </tr>
                <tr>
                    <th>Order Total</th>
                    <td>$55.00</td>
                </tr>
            </table>
            <button id="back">Back</button>
            <a href="cash_card.html"><button id="buy" >Buy</button></a>
        </div>
    </div>
    
</body>
</html>
