<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/cash_card.css">
    <title>Page 16</title>
</head>
<body>
    <div class="header">
        <div class="logo">SMART PHARMACY</div>
        <input type="text" placeholder="Search..." class="search-bar">
        <div class="menu-icon">☰</div>
    </div>

    <div class="payment-options">
        <div class="option cash-option">
            <a href="order_successfuly_completed.html"><img src=https://as1.ftcdn.net/v2/jpg/03/29/90/52/1000_F_329905265_nJYCgw20CZjsHMKdqUwqDTt8Au3cfmRI.jpg alt="Cash" width="200" height="200"></a>
              Cash
            <div class="dots">• • •</div>
        </div>

        <div class="option card-option">
            <a href="credit_card.html"><img src=https://media.istockphoto.com/id/1441482282/vector/credit-card-icon-in-comic-style-money-payment-cartoon-vector-illustration-on-white-isolated.jpg?s=170667a&w=0&k=20&c=8VrH2fHi5Ac-hC5hiKUheIzysVx8paKZFNpNhx0m47U= alt="Card" width="200" height="200"></a>
            Card
            <div class="dots">• • •</div>
        </div>
    </div>
</body>
</html>
