<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/congrats_change_pass.css">
</head>
<body>
    <img class="sora" src="https://static.vecteezy.com/system/resources/previews/026/758/314/non_2x/password-shield-icon-illustration-vector.jpg" alt="sora">
    <h1 class="klam">Congrats!!</h1>
    <h3 class="klam2">You have successfully change password.</h3>
    <h3 class="klam3">please use new password while login.</h3>
    <a href="login.html"><button class="custom-button">Login Now</button></a>

</body>
</html>