<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page4</title>
    <link rel="stylesheet" href="/credit_card.css">

</head>
<body>

    <div class="head">
    <h2>credit-card</h2>
    </div>
    <div class="lolo">
        <p><input type="text" id="HOD" placeholder="Card Number"></p>
        <p><input type="text" id="HOD" placeholder="Card Holder Name"></p>
        <p><input type="text" id="HOD" placeholder="expire month"></p>
        <p><input type="text" id="HOD" placeholder="expire year"></p>
        <p><input type="text" id="HOD" placeholder=" CCV "></p>
        <a href="order_successfuly_completed.html"><button id="submit" class="myButton" onclick="alert('Successful operation')">submit</button></a>

    <br>
    By clicking sign up you agreeing to the
    <br>
    <a href="http://">terms of services</a>
    and 
    <a href="http://">privacy policy</a>
</div>
</body>
</html>