<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project6</title>
    <link rel="stylesheet" href="/forget_password.css">
</head>
<body>

        <div class="head">
        <h2>Forget Password?</h2>
        </div>
        <div class="email">
        please enter email or your number phone &nbsp; <br>
        to receive your password reset instructions
        
        </div>
        <div>
        <p><input type="email" id="HOD" placeholder="Email Address"></p>
        <div class="or">
        OR
        </div>
        <p><input type="password" id="HOD" placeholder=" Number phone"></p>
      
        <p><a href="verification.html"><input type="submit" id="Login"  value="send code"></p>
        </div>

    
</body>
</html>