<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/home_page.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <span>SMART PHARMACY</span>
            <input type="text" placeholder="Search...">
            <i class="fa fa-shopping-cart"></i>
            <i class="fa fa-bars"></i>
            <a class="loginlink" href="login_signup.html">Login and Signup</a>
        </div>
    </nav>
    <nav class="nav">
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="Medicine Store.html">Store</a></li>
            <li><a href="#">About</a></li>
            <li><a href="contactus.html">Contact</a></li>
        </ul>
    </nav>
    <div>
        <img class="sora" src="https://static.vecteezy.com/system/resources/previews/027/386/717/non_2x/pharmacy-with-nurse-in-counter-drugstore-cartoon-character-design-illustration-vector.jpg" alt="sora">
    </div>
    <div>
        <h1 class="klam">ONLINE PHARMACY STORE</h1>
        <h4 class="klam2">YOUR HEALTH IS OUR RESPONSIBILITY YOUR MEDICINE IS OUR DUTY</h4>
    </div>
    <b class="call">Talk To Chatbot</b>
<a class="sora2" href="./chatbot.html"><img src="https://static.vecteezy.com/system/resources/thumbnails/007/225/199/small_2x/robot-chat-bot-concept-illustration-vector.jpg" alt="wats" width="100" height="100"></a>

</body>
</html>
