<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <title>project5</title>
</head>
<body>
    <div class="photo">
    <img src="images/image-2.png" alt="" width="300px" height="300px">
    </div>
    <div class="head">
    <h2>Login</h2>
    </div>
    <div>
    <p><input type="email" id="HOD" placeholder="Email Address"></p>
    <p><input type="password" id="HOD" placeholder=" write complex Password"></p>
    <a href="forget_password.html"><p class="font">forget password?</p></a>
    <p><a href="index.html"><input type="submit" id="Login"  value="Login"></a></p>
    <P class="font">or login with</P>
    </div>
    <div class="font">
    <p>Don`t have an account? <a href="signup.html">Register</a></p>
    </div>
    
</body>
</html>