<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project2</title>
    <link rel="stylesheet" href="/login_signup.css">
</head>
<body>
    <div class="head">
    <p>help millions of people everywhere,<br>
        everytime.</p>
    </div>
    <div class="radio">
    <input type="radio" id="II" name="II">
    <input type="radio" id="II" name="II">
    <input type="radio" id="II" name="II">
    <input type="radio" id="II" name="II">
    </div>
    <div class="submit">
    <a href="/" ><input type="button" id="Login" name="Login" value="Login"></a>
    <a href="/signup"><input type="button" id="signup" name="Sign Up" value="Sign Up"></a>
    <a href="Admin Verification.html"><input type="button" id="loginasAdmin" name="loginasAdmin" value="login as Admin"></a>
    </div>
    
</body>
</html>