<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicine 1</title>
    <link rel="stylesheet" href="/Medicine Desciption and Buying.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <span>SMART PHARMACY</span>
            <input type="text" placeholder="Search...">
            <i class="fa fa-shopping-cart"></i>
            <i class="fa fa-bars"></i>
        </div>



    <div class="photo"><img src="https://cdn2.pipingrock.com/images/product/amazon/product/chanca-piedra-phyllanthus-niruri-500-mg-120-quick-release-capsules-8870.jpg?tx=w_3000,h_3000,c_fit&v=3"
        alt="firsAid" width="120" height="130"> </div> 
    
    <div class="word"><b> Tablets, 200mg<br>
        Charantin, one of the main constituents in chanca piedra, has been demonstrated to have strong antifungal and antibacterial effects. <br> 
</b> <br>

<div class="max"> <b>( Maximum amount 5 )</b> </div>

<div class="maxSelect">
   
    <select name="Amount" id="Amount">
    <optgroup label="Maximum amount 5">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    </optgroup>
</select>
</div>
<br>

<br>

<div> <a href="Buy_Medicine1.html"><button class="custom-button">Buy</button></a>
</div>
</div>
         
</body>
</html>