<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicine 5</title>
    <link rel="stylesheet" href="/Medicine Desciption and Buying.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <span>SMART PHARMACY</span>
            <input type="text" placeholder="Search...">
            <i class="fa fa-shopping-cart"></i>
            <i class="fa fa-bars"></i>
        </div>



    <div class="photo"><img src="https://cdn.sanity.io/images/xmpcmhrn/production/a030d44c384c28601a1b0146ac475b47f21b1527-1000x1000.png?rect=42,18,898,958&w=752&q=80&fit=max&auto=format"
        alt="fifth" width="120" height="130"></div> 
    
    <div class="word"><b> spray<br>
        Rexona Active Dry Deodorant Stick for Men is a product specially designed to prevent sweat odor and provide long-lasting freshness. It is characterized by its effective formula in preventing excessive sweating and provides a feeling of freshness throughout the day..</b> <br>

<div class="max"> <b>( Maximum amount 5 )</b> </div>

<div class="maxSelect">
   
    <select name="Amount" id="Amount">
    <optgroup label="Maximum amount 5">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    </optgroup>
</select>
</div>
<br>

<br>

<div> <a href="Buy_Medicine5.html"><button class="custom-button">Buy</button></a>
</div>
</div>
         
</body>
</html>