<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/order_successfuly_completed.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <span>SMART PHARMACY</span>
            <input type="text" placeholder="Search...">
            <i class="fa fa-shopping-cart"></i>
            <i class="fa fa-bars"></i>
        </div>



        <div class="positionAll">
            <div class="position"> <img src="https://www.shutterstock.com/image-vector/red-check-mark-icon-circle-260nw-1048665290.jpg" alt="ver" width="90" height="90"></div>
                 <div class="word"><b>Thank you!</b></div>
            <div class="your"><b>Your order is successfuly completed.</b></div>
        
            
            <a href="index.html"><button class="my-button">Back to home</button></a>

</div>
</body>
</html>