<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Pharmacy Management System.css">
    <title>Pharmacy Management System</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <span>SMART PHARMACY</span>
            <input type="text" placeholder="Search...">
            <i class="fa fa-shopping-cart"></i>
            <i class="fa fa-bars"></i>
        </div>



<div class="position">
    <a href="Store Location.html"><button class="custom-button">Store Location</button></a> 
    <a href="Check Expired Data.html"><button class="custom-button">Check Expired</button></a>
    <a href="Contact Suppliers.html"><button class="custom-button">Contact Suppliers</button></a>
    <a href="Add and Remove.html"><button class="custom-button">Add and Remove item</button> <br></a>

    <a href="Medicine Inventory.html"><button class="custom-button">Medicine inventory</button></a>
    <a href="Waiting list.html"><button class="custom-button">Waiting list</button></a>
    <a href="Report.html"><button class="custom-button">Report</button></a>
    
</div>
<script src="Admin Verification.js"></script>
</body>
</html>