<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/recovery_password.css">
    <title>recovery_password</title>
   
</head>
<body>

        <div class="head">
        <h2>Recovery Password</h2>
        </div>

        <div>
        <p><input type="password" id="password" placeholder="New password"></p>
       
        <p><input type="password" id="password" placeholder="Confirm New Password"></p>
      
        <p><a href="congrats_change_pass.html"><input type="submit" id="Login"  value=" Change password"></a></p>
        </div>
        <div class="final">
         Didn`t recative a code?
         <div class="Resend">
            Resend code

         </div>   
        </div>
        

    
</body>
</html>