<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project3</title>
    <link rel="stylesheet" href="/signup.css">

</head>
<body>

    <div class="head">
    <h2>Welcome</h2>
    </div>
    <div class="head2"></div>
    <p>join for instan health care tips today to free!</p>
    </div>
    <div class="lolo">
        <p><input type="text" id="HOD" placeholder="Name"></p>
        <p><input type="text" id="HOD" placeholder="Address"></p>
        <p><input type="text" id="HOD" placeholder="City"></p>
        <p><input type="text" id="HOD" placeholder="Phone Number"></p>
        <p><input type="email" id="HOD" placeholder="Email Address"></p>
        <p><input type="password" id="HOD" placeholder=" write complex Password"></p>
        <a href="successfully_registered.html"><input type="submit" id="submit"  value="sign up"></a>
    <br>
    By clicking sign up you agreeing to the
    <br>
    <a href="http://">terms of services</a>
    and 
    <a href="http://">privacy policy</a>
</div>
</body>
</html>