<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/type_medicine.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <span>SMART PHARMACY</span>
            <input type="text" placeholder="Search...">
            <i class="fa fa-shopping-cart"></i>
            <i class="fa fa-bars"></i>
        </div>
    
    <div class="position">
        <a href="Medicine Store.html"><button class="custom-button">Liquid</button></a>
        <a href="Medicine Store.html"> <button class="custom-button">Tablet</button></a><br><br>
        <a href="Medicine Store.html"><button class="custom-button">Caspsules</button></a>
        <a href="Medicine Store.html"><button class="custom-button">Topical</button></a> <br><br>
    
        <a href="Medicine Store.html"><button class="custom-button">Suppositories</button></a>
        <a href="Medicine Store.html"><button class="custom-button">Drops</button></a><br><br>
        
    </div>
    
</body>
</html>