<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project7</title>
    <link rel="stylesheet" href="/verification.css">
</head>
<body>
    <div class="head">
        <h2>Verification</h2>
        </div>
        <div class="email">
        Please check your message for a six-digit.<br>
        security code and enter below.
        </div>

        
            <div class="background">
            <input type="password" id="password" name="II">
            </div>
        <div class="final">
            Didn`t recative a code?
            <div class="Resend">
            Resend code
            </div>   
           </div>
        <p><a href="recovery_password.html"><input type="submit" id="Login"  value="Verify"></a></p>
        
           
    
</body>
</html>