<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Waiting list.css">
    <title>Admin Waiting List</title>
</head>
<body>
    <h1>Admin Waiting List</h1>
    <div class="request">
        <h2>Customer A</h2>
        <p>Requested Medicine: Medicine J</p>
        <p>Priority: High</p>
    </div>
    <div class="request">
        <h2>Customer B</h2>
        <p>Requested Medicine: Medicine I</p>
        <p>Priority: Medium</p>
    </div>
    <div class="request">
        <h2>Customer C</h2>
        <p>Requested Medicine: Medicine G</p>
        <p>Priority: Low</p>
    </div>
    <div class="request">
        <h2>Customer D</h2>
        <p>Requested Medicine: Medicine H</p>
        <p>Priority: Medium</p>
    </div>
    <div class="request">
        <h2>Customer E</h2>
        <p>Requested Medicine: Medicine E</p>
        <p>Priority: High</p>
    </div>
    <div class="request">
        <h2>Customer F</h2>
        <p>Requested Medicine: Medicine B</p>
        <p>Priority: Low</p>
    </div>
    
</body>
</html>
