body{
    padding: 100px;
    text-align: center;
    position: relative;
    font-size: 30px;

}
#Hod{
    width: 400px;
    height: 30px;
    border-radius: 20px;
}

#Login{
    background-color: red;
    color: white;
    width: 400px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid red;
    font-size: 20px;
}
.head{
    padding:0 50px 0 0;

}
.font{
    font-size:10px;
}
.email{
    font-size: 16px;
    padding:0 130px 0 0;

}
.or{
    font-size: 18px;
}
