body{
    padding: 100px;
    text-align: center;
    position: relative;
    font-size: 30px;

}
#password{
    width: 400px;
    height: 30px;
    border-radius: 20px;
}

#Login{
    background-color: red;
    color: white;
    width: 400px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid red;
    font-size: 20px;
}
.head{
    padding:0 50px 0 0;

}

.email{
    font-size: 16px;
    padding:0 130px 0 0;

}

.background{
    width: 10px;
    height: 10px;
    position: relative;
    background-color: rgba(1, 17, 33, 0.26);
    display: inline;
    border-radius: 50%;
}
.final{
    font-size: 10px;
}
.Resend{
    display: inline;
    font-size: 15px;
    color: red;
}
